<%= render partial: "layouts/errors", locals: { object: reservation } %>
<%= form_for reservation do |f| %>
  
  <div class="field">
    <p>
      <%= label_tag "reservation[reservation_time][date]", "Date" %>
      <%= text_field_tag "reservation[reservation_time][date]", reservation_date(reservation), class: "datepicker" %>
    </p>
  </div>
  <div class="field">
    <p id="time">
      <%= label_tag "reservation[reservation_time][hour]", "Time" %>
      <%= hour_selector("reservation[reservation_time][hour]", reservation) %> : 
      <%= min_selector("reservation[reservation_time][min]", reservation) %> 
    </p>
  </div>
  <div class="field">
    <p>
      <%= f.label :duration %> 
      <%= duration_hour_field("reservation[duration][hour]", reservation) %>
      <%= duration_minute_field("reservation[duration][min]", reservation) %>
    </p>
  </div>
  <div class="field">
    <p>
      <%= f.label :price %> 
      <%= f.number_field :price, step: 0.25, value: float_two_decimals(reservation.price) %>
    </p>  
  </div>
 
  <p><%= f.submit %></p>
<% end %>